<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\Logs\nlog-internal.log">

	<variable name="programName" value="Yutaka.Updater"/>
	<variable name="filePath" value="C:\Logs\${programName}\"/>
	<variable name="today" value="${date:format=yyyy MMdd} 0000"/>

	<targets>
		<default-wrapper xsi:type="BufferingWrapper" bufferSize="100"/>
		<default-target-parameters xsi:type="File" keepFileOpen="true" openFileCacheTimeout="30" />
		<target name="DevLog"		 xsi:type="File" fileName="${filePath}${today} DevLog.txt" layout="[${date:format=HH\:mm\:ss}|${level}] ${message}" />
		<target name="ProductionLog" xsi:type="File" fileName="${filePath}${today} Log.txt"    layout="[${date:format=HH\:mm\:ss}|${level}] ${message}" />
		<target name="ErrorLog"		 xsi:type="File" fileName="${filePath}${today} Errors.txt" layout="[${date:format=HH\:mm\:ss}|${level}] ${message}" />
	</targets>

	<rules>
		<!--<logger name="*" minlevel="Trace" writeTo="DevLog" />
		<logger name="*" minlevel="Info"  writeTo="ProductionLog" />-->
		<logger name="*" minlevel="Error" writeTo="ErrorLog" />
	</rules>
</nlog>